$primaryColor: #81B661;

.primary-color{
    color: $primaryColor
}

.nav-link.active{
    border-bottom: 2px solid $primaryColor;
}

h4 {
    padding-bottom: 15px;
}
  
.sugestoes h6.fw-bold a {
    text-decoration: none;
    color: $primaryColor;
}

.sugestoes h6 a {
    text-decoration: none;
    color: #333;
}
  
.sugestoes .border {
    border-radius: 8px;
    border-color: #333;
}
  
.sidebar {
    border-radius: 8px;
}
  
.sidebar a h6 b {
    color: #0b4d20;
}

.sidebar a h6 {
    color: #ddd;
}
  
.sidebar a:last-child {
    border-bottom: none;
}

.box-total {
      width: 30%;
      padding: 30px;
}

.box-total:first-child {
    width: 30%;
    padding: 30px;
    background: $primaryColor;
}
  
.banner-foto{
    width:100%;
    overflow: hidden;
    height:300px;
    object-fit: cover;
}

.bg-primary-color{
    background-color: $primaryColor;
}
.linha-portifolio div > div{
    
    border-bottom: 1px solid #fafafa;
    border-top: 1px solid #fafafa;
    padding:15px;
    height:100%;
}
.linha-portifolio div:first-child > div{
    border-left:3px solid $primaryColor;
}

.linha-portifolio div:last-child > div{
    border-right:3px solid $primaryColor;
}

.bg-login{
    margin:0;
    padding:0;
    top:0;
    left:0;
    width:100%;
    height:100%;
    position: absolute;
}